{% extends "base.html" %}
{% load static %}
{% block content %}
{% for concernusers in concern2 %}
<ul style="background: url({% static "images/hui.png" %}) no-repeat top 5px left 10px;">
    <p style="padding-top: 5px;">
        {% comment %} {{ concernusers.user }}： {% endcomment %}

    </p>
    <p> 
      <li>
        <a href="{% url 'concernspersonhome' concernusers.concern_user.id 1 0 %}">{{ concernusers.concern_user }}</a>
    </li>
      <span class="msgtime" style="float: right;">{{ concernusers.create_time|date:"Y-m-d_H:m" }}</span>
    </p>
    
</ul>
{% endfor %}
<nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
        {% if concern2.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="{% url 'concerns' id concern2.previous_page_number %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if concern2.object_list %}
            {% for page in concern2.paginator.page_range %}
                {% if page == concern2.number %} 
                    <li class="page-item active" aria-current='page'>
                        <a class="page-link" href="{% url 'concerns' id page %}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{% url 'concerns' id page %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if concern2.has_next %}
      <li class="page-item">
        <a class="page-link" href="{% url 'concerns' id concern2.next_page_number %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
        {% endif %}
    </ul>
</nav>


{% endblock%}