<!-- mysite2/templates/search_results.html -->
{% extends "base.html" %}
{% block title %}搜索结果 - {{ v }}{% endblock %}
{% block content %}
    <h2>搜索结果：{{ v }}</h2>
    {% if articles %}
        <ul>
            {% for article in articles %}
                <li>
                    <a href="{% url 'articledetail' id article.id  %}">{{ article.title }}</a>
                    <p>{{ article.content|truncatewords:20 }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>未找到相关结果。</p>
    {% endif %}
{% endblock %}